@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);
  
body {
  font-family: 'IBM Plex Sans';
  font-size: 15px;
}

h1 {
 text-align: center; 
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
